{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Шарттар мен талаптар</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/privacy-policy.css' %}">
{% endblock head %}

{% block body %}
    <section class="privacybanner-section">
            <img src="{% static 'img/terms-and-conditions.png' %}" alt="Privacy Policy" class="privacybannerimg">
    </section>
    <section class="section section1">
        <div class="container">
<p>
                 www.qazaqair.kz туристік сайты Qazaq Air компаниясы қызмет көрсетеді. Бұл Қазақстан Республикасының заңдарына  сертификатталған туристік компания. Осы сайтқа кіру немесе пайдалану немесе оның кез келген қызметтерін пайдалану арқылы сіз төменде көрсетілген шарттармен, соның ішінде кез келген қосымша нұсқаулар мен болашақ өзгертулермен келісесіз.
             </p>
             <p>
                 Ұшу төменде жазылған Шарттар мен Шарттардың кез келген бөлігін алдын ала ескертусіз өзгертуі, өзгертуі немесе жоюы мүмкін. Осы Пайдалану ережелері мен шарттарына енгізілген кез келген өзгерістер олар сайтта жарияланған сәттен бастап қолданылады. Толық сценариймен толық танысу үшін «Шарттар мен шарттар» сілтемесін қайта тексеру керек.
             </p>
             <p>
                 <b>1. Клиенттер арасындағы келісім және ұшу:</b><br>
                 www.qazaqair.kz  сайтына кіру, пайдалану, шолу немесе брондау кезінде пайдаланушылар біздің порталдың шарттарымен келісетінін қабылдауы керек. Қандай да бір бұзушылық болған жағдайда, Qazaq Air. және оның еншілес компаниялары (соның ішінде fly-web-app.herokuapp.com) оларға қарсы кез келген заңды әрекеттерді қолдану құқықтарын өзіне қалдырады.
             </p>
             <p>
                 <b>2. Веб-сайттағы бағалар:</b><br>
                 Қызмет ақысы, бас тарту ақысы, қайта жоспарлау ақысы GST-ке кіреді<br>
                 www.qazaqair.kz сайтында ұсынатын бағаға әдетте тұру ақысы, салықтар (егер басқаша көрсетілмесе) және ерекше жағдайларда кейбір тағамдар (таңғы ас/түскі ас/кешкі ас) кіреді. Ол ешқашан жеке шығындарды немесе телефон қоңыраулары, жеке қызмет көрсетулер, кез келген ескерткіштерге кіру және бар ақысы және т.б. сияқты басқа қосымша төлемдерді қамтымайды.
             </p>
             <p>
                 <b>3. Төлемдер және саясаттар:</b><br>
                 Біздің төлем шлюзі толығымен қауіпсіз және тұтынушылар өздерінің жеке қауіпсіздік кодтарының ешбір жағдайда ашылмауын қамтамасыз ететін қауіпсіз транзакция процесі арқылы онлайн төлемдерді жасай алады.
             </p>
             <p>
                 <b>4. Веб-сайтты пайдалану</b><br>
                 <b>Осы веб-сайтты пайдаланған жағдайда сіз келесімен келісесіз:</b>
                 <ul>
                     <li>Сізде міндетті заң талабын жасауға және осы Пайдалану шарттарына кіруге заңды құқығыңыз бар.</li>
                     <li>Сіз бұл сайтты оның Пайдалану шарттарына сәйкес пайдаланасыз.</li>
                     <li>Веб-сайтты тек өзіңізге немесе осындай брондау түрлерін жасауға ресми рұқсаты бар басқа адамға заңды тапсырыстар жасау үшін ғана пайдаланасыз. Сондай-ақ сіз басқа тұлғаларды веб-сайттың ережелері мен шарттары туралы хабардар етесіз</li>
                     <li>Сіз әрбір ресми құжат туралы нақты ақпаратты және онымен сапарды жоспарлаған жағдайда сайтқа аты мен DOB сияқты басқа маңызды мәліметтерді бересіз.</li>
                     <li>Ақпарат процесінде қандай да бір қателік немесе қателік орын алған жағдайда, ол үшін тек сіз жауапты боласыз.</li>
                     <li>Бұл сайтқа сіз берген барлық ақпарат дәл, жаңартылған және толық болуы керек,</li>
                     <li>Егер сізде осы сайтта тіркелгіңіз болса, оны логин деректерімен, соның ішінде логин идентификаторы мен құпия сөзбен қорғау ұсынылады. Есептік жазбаңыздың кез келген пайдаланылуы немесе теріс пайдаланылуы үшін толық жауапты боласыз.</li>
                     <li>Рейс кез келген уақытта ешбір ескертусіз және кез келген себеппен, соның ішінде, бірақ онымен шектелмей, оның Пайдалану шарттарын бұзғаны үшін кез келген адамға өз веб-сайтына кіруден бас тарту құқығын өзіне қалдырады.</li>
                 </ul>

        </div>
    </section>
{% endblock%}